@model IEnumerable<ExcelFileUpload.ViewModel.CustomerIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Excel Data</h2>

<p>
    @Html.ActionLink("Upload Excel File", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GSTIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TurnoveAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>

        @*//sr, CompanyName, GSTIN, StartDate, EndDate, TurnoveAmount, ContactEmail, ContactNumber*@

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GSTIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TurnoveAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.sr }) 
            @*@Html.ActionLink("Details", "Details", new { id = item.sr }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.sr })*@
        </td>
    </tr>
    }

</table>
